
.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:60px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall 1.23s linear infinite;
  -moz-animation: fall 1.23s linear infinite;
  transform: rotate(12deg);
  overflow:hidden;
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;  margin-left:-200px;}
}
@-moz-keyframes fall {
	to {margin-top:800px; margin-left:-200px;}
        
}


#footer{
    margin-top: 35px;
    padding-bottom: 30px;
}

.info_req {
    color: white;
    text-align: center;
    width: 100%;
}

.reg-input-text{
    
    width: 250px;
    height: 25px;
    border-radius:5px;
    background-color: white;
    
}

.reg-input-text:focus{
    background-color: yellow;
    
}

.reg-input-ok{
    border:1px solid lightblue;
    border-radius: 5px;
    background-color: #000;
    color: lightblue;
    width: 120px;
    height: 30px;
}

.reg-input-no{
    border:1px solid orange;
    border-radius: 5px;
    background-color: #000;
    color: orange;
    width: 90px;
    height: 30px;
}

.css_nav_dropmenu.logout {
    background: #900030 none repeat scroll 0 0;
}



 
#progressbar {
    background-color: black;
    border: 1px solid yellow;
    border-radius: 13px;
    margin-top: 5px;
    padding: 3px;
    width: 350px;
}
    
 
#progressbar > div {
    background-color: yellow;
    border-radius: 10px;
    height: 20px;
    width: 40%;
}

#admin{
    font: 12px bold, Arial;
}

.status-bar {
    background: #000 none repeat scroll 0 0;
    font: 13px bold,ARIAL;
    height: 25px;
    text-align: center;
    width: 100%;
}

.status-bar-title {
    color: lightgreen;
    display: inline-block;
    width: 350px;
}

.status-bar-item {
    color: white;
    display: inline-block;
    width: 15%;
}