/*
body {
    background: none repeat scroll 0 0 #000;
    
}*/

.global {
    width: 95%;
    margin-right: 2%;
    margin-left: 2%;
    
}

#gamebody{
    background: #000;
    
}
///////////////////////////////////////ZONE  V
.scenario-top{
    height: 300px;
    margin: 5px auto;
    display: block;
}

.scenario-bottom{
    margin: 5px auto;
}


.area-character{
    display: inline-block;
    height: 280px;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
    width: 20%;
    color: white;
    font: 14px bold, Arial;
    border: 1px solid gray;
}

.area-status{
    width: 100%;
    /*border:1px dashed orange;*/
    height: 140px;
}


.area-timer {
    /*border: 1px dashed brown;*/
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 40%;
}


.area-status-name-rank {
   /* border: 1px solid white;*/
    height: 25px;
    text-align: center;
}

.area-status-name-rank > div {
    vertical-align: middle;
    width: 15%;
}

#my-rank, #opp-rank{
    width: 30px;
}


.area-status-health-time {
  /*  border: 1px solid green;*/
    height: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.area-health-img {
   /* border: 1px solid yellow;*/
    display: inline-block;
    height: 100%;
    width: 25%;
}

.health-img{
    height: 70px;
    padding: 3%;
}


.area-health {
    /*border: 1px solid yellow;*/
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 25%;
}

.area-status-energy {
    /*border: 1px solid blue;*/
    height: 125px;
}


.area-energy-row {
    /*border: 1px solid red;*/
    height: 40px;
    width: 100%;
    text-align: center;
}


.area-energy-left {
   /* border: 1px solid lightblue;*/
    display: inline-block;
    height: 100%;
    width: 45%;
    text-align: right;
    vertical-align: top;
}


.area-energy-right {
    /*border: 1px solid lightblue;*/
    display: inline-block;
    height: 100%;
    width: 45%;
    text-align: left;
    vertical-align: top;
}


.area-energy-33 {
    /*border: 1px solid purple;*/
    display: inline-block;
    height: 100%;
    width: 30%;
    vertical-align: top;
}


.area-status-cards {
    /*border: 1px solid yellow;*/
    height: 40px;
    width: 100%;
     text-align: center;
}


.area-status-deck {
    /*border: 1px solid green;*/
    display: inline-block;
    height: 100%;
    width: 45%;
}

.area-status-hand {
    /*border: 1px solid green;*/
    display: inline-block;
    height: 100%;
    width: 45%;
}

/*-------------------*/


.area-energy-left > span {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

.area-energy-left > span {
    display: none;
}
.area-energy-right > span {
    display: none;
}

.area-energy-33 > span {
    display: none;
}




/*------------------*/
.cards-map {
    display: inline-block;
    background-image: url("../img/bg2.png");
    background-size: 100% auto;
    height: 280px;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
    width: 70%;
}

.row-top{
    width: 95;
    height: 90px;
}

.row-mid{
    width: 95;
    height: 90px;
}

.row-bottom{
    width: 95;
    height: 90px;
}

.zone-removal{
    display: inline-block;
    width: 11%;
    //border: 1px solid orange;
    height: 90px;
    vertical-align: top;
}


.zone-treasure{
    display: inline-block;
    width: 11%;
    //border: 1px solid yellow;
    height: 90px;
    vertical-align: top;
}

.zone-homeland{
    display: inline-block;
    width: 70%;
    //border: 1px solid lightblue;
    height: 90px;
    vertical-align: top;
}

.zone-discard{
    display: inline-block;
    width: 11%;
    //border: 1px solid gray;
    height: 90px;
    vertical-align: top;
}


.zone-deck{
    display: inline-block;
    width: 11%;
    //border: 1px solid lightgreen;
    height: 100%;
    vertical-align: top;
}

.zone-secondline{
    display: inline-block;
    width: 70%;
    //border: 1px solid purple;
    height: 90px;
    vertical-align: top;
}

.zone-blank{
    display: inline-block;
    width: 11%;
    //border: 1px solid white;
    height: 90px;
    vertical-align: top;
}

.zone-ambience{
    display: inline-block;
    width: 11%;
    //border: 1px solid brown;
    height: 90px;
    vertical-align: top;
}

.zone-firstline{
    display: inline-block;
    width: 70%;
    //border: 1px solid blue;
    height: 90px;
    vertical-align: top;
}




/////////////////////////ZONE^


.card-small{
    
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
    -moz-transform: translate(-50%,-50%); /* Firefox */
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}

.card-small{
    
    width: 70px!important;
    height: 90px!important;
    display: inline-block;
    margin-left: 1%;
    background-size: 100% auto;
    
    
}


.card-small img {
    
    max-width:100%;
    max-height:100%;
    
     -webkit-transition: all 0.5s ease; /* Safari and Chrome */
     -moz-transition: all 0.5s ease; /* Firefox */
     -o-transition: all 0.5s ease; /* IE 9 */
     -ms-transition: all 0.5s ease; /* Opera */
      transition: all 0.5s ease;
}

.card-hand{
    max-width:100%;
    max-height:100%;
    width: 100px;
    height: 320px;
    display: inline-block;
    background-size: 100%;
    margin-left: 10px;
    

}

.my-hand .card-hand:hover {
    transform-origin: bottom;
    position: relative; 
    }


.scenario-top .card-small:hover img {
    transform-origin: top;
    position: relative; 
    -webkit-transform:scale(2); /* Safari and Chrome */
    
    -moz-transform:scale(2); /* Firefox */
    -moz-transform:translate(50px, 50px);
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}

.scenario-bottom .card-small:hover img {
    transform-origin: bottom;
    position: relative; 
    -webkit-transform:scale(2); /* Safari and Chrome */
    
    -moz-transform:scale(2); /* Firefox */
    -moz-transform:translate(50px, 50px);
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}

.content .card-small:hover img {
    transform-origin: top;
    position: relative; 
    -webkit-transform:scale(2); /* Safari and Chrome */
    
    -moz-transform:scale(2); /* Firefox */
    -moz-transform:translate(50px, 50px);
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}


.my-hand{
    //border: 1px solid yellow;
    display: block;
    height: 125px;
    margin: 0 auto -360px;
    text-align: center;
    width: 66%;
}



.deck-dialog{
        
    max-width:100%;
    max-height:100%;
}

/********************************/
/*** NON SPECIFIC GAME STYLES ***/
/********************************/

.off-menu {
    display: inline;
    float: right;
    height: 36px !important;
    margin-top: -28% !important;
    padding: 25% 0 25% 1%;
    width: 2% !important;
}

.content.grid{
    width: 120px;
    margin: 0 auto;
    display: inline-block;
}


.collection-line {
    margin: 0 auto;
    max-height: 120px;
    text-align: center;
    width: 80%;
}

fieldset{
    color: white;
}

.div-small-bordered-100 {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    min-height: 150px;
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    display: inline-block;
    margin-top:15px;
}

.div-small-bordered-80 {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    min-height: 250px;
    width: 80%;
    margin: 0 auto;
    vertical-align: top;
    display: inline-block;
}

.div-small-bordered-60 {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    min-height: 250px;
    width: 60%;
    vertical-align: top;
    display: inline-block;
}

.div-small-bordered-40 {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    min-height: 250px;
    width: 40%;
    vertical-align: top;
    display: inline-block;
}

.div-small-bordered-20 {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    min-height: 250px;
    width: 20%;
    vertical-align: top;
    display: inline-block;
}


.div-main-menu-panel {
    background: url("../img/main_menu_panel.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 5px solid lightgray;
    border-radius: 6px;
    display: inline-block;
    min-height: 450px;
    min-width: 550px;
    vertical-align: top;
    width: 55%;
}

.div-main-submenu {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 5px solid lightgray;
    border-radius: 6px;
    height: 250px;
    width: 35%;
    vertical-align: top;
    display: inline-block;
    min-height: 450px;
    min-width: 250px;
    
}
.content.clearfix.notify {
    background: url('../img/trans.png');
    background-repeat: repeat-x repeat-y;
    border: 1px solid yellow;
    border-radius:7px;
    text-align: center;
    font: 25px/1.3 Chocolate Covered Raindrops;
    color: white;
}


.div-noborder-100 {
    text-align: center;
    width: 100%;
}


.profile-icon {
    display: inline-block;
    height: 75px;
    width: 15%;
    vertical-align: top;
    color: lightblue;
}

.profile-icon > img{
    height: 50px;
    vertical-align: top;
}

.profile-data {
    display: inline-block;
    height: 75px;
    width: 80%;
    vertical-align: top;
    text-align: left;
    color: yellow;
}


.nick-title {
    color: lightblue;
    font: 24px bold,Trebuchet MS;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}


.av {
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.av > img{
    
    width:150px;
    height:150px;
}


.title {
    color: orange;
    font: 45px bold,Chocolate Covered Raindrops;
}

.card-remaining{
    color: yellow;
    font: 19px bold,verdana;
    margin-top: 110px;
    position: absolute;
}

.slash{
    color: white;
    font: 19px bold,verdana;
    margin-top: 110px;
    position: absolute;
    margin-left: 15px;
}
.card-total{
    color: yellow;
    font: 19px bold,verdana;
    margin-top: 110px;
    position: absolute;
    margin-left: 30px;
}








.collection-area {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 75%;
}


.deck-builder-area {
    border: 1px solid yellow;
    display: inline-block;
    height: 550px;
    vertical-align: top;
    width: 20%;
}


.deck-card-line {
    border: 1px solid orange;
    color: white;
    font-weight: bold;
    height: 30px;
    text-align: center;
    width: 100%;
}


.deck-card-line-copies {
    border: 1px solid red;
    display: inline-block;
    float: right;
    height: 30px;
    width: 15%;
}



#gallery {
    float: left;
    max-width: 75%;
    min-height: 12em;
    width: 75%;
}
  .gallery.custom-state-active { background: #eee; }
  .gallery li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    margin: 0 0.4em 0.4em 0;
    padding: 0.2em;
    text-align: center;
    width: 96px;
}
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
    #trash {
        float: right;
        max-width: 250px;
        min-height: 18em;
        min-width: 200px;
        padding: 1%;
        width: 20%;
    }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 { display: none; }
  
  
  .ui-widget.ui-helper-clearfix{
      max-width: 95%;
      margin: 0 auto;
  }
  
.ui-widget-content.ui-corner-tr.ui-draggable.ui-draggable-handle {
    height: 120px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 5px 0.5em;
    position: relative;
}

.ui-dialog-title {
    font: 18px verdana;
    height: 20px;
    
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    padding: 3px;
}

.div-main-panel-row{
    width: 100%;
    height: 150px;
    display:block;
    /*border:1px solid red;*/
}

.div-main-panel-33{
    width: 32%;
    height: 100%;
    display: inline-block;
    /*border:1px solid blue;*/
    vertical-align: top;
}


.console {
    color: lightgreen;
    float: right;
    font-family: Courier;
    margin-left: 60%;
    max-height: 45%;
    opacity: 0.5;
    overflow: scroll;
    position: absolute;
    text-align: left;
    width: 32%;
}

.console-line{
    height:16px;
    text-align: left;
}


.selection {
    background-color: darkgreen;
    border-radius: 5px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    height: 60%;
    left: 50%;
    line-height: 100px;
    margin-left: -40%;
    margin-top: -20%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 70%;
    z-index: 10;
}

#selection > .card-hand {
    height: 187px;
    margin-left: 3%;
    margin-top: 7%;
    width: 150px;
}

.turn-message{
    
    float: left;
    margin-left: 30%;
    margin-top: -5%;
    position: absolute;
}


#ok {
    background: green none repeat scroll 0 0;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font: 23px bold,Arial;
    padding: 10px 60px;
    text-decoration: none;
}

.card-hand.ui-draggable-handle {
    height: 120px;
    transform: none;
}




.scenario-active{
       -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
      -moz-animation: neon3 1.5s ease-in-out infinite alternate;
      animation: neon3 1.5s ease-in-out infinite alternate;
}


@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }

  from {
    box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    box-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
}


@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
  from {
    box-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    box-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
}

@font-face {
    font-family: 'Chocolate Covered Raindrops'; /*a name to be used later*/
    src: url('http://localhost/assets/font/choco.ttf'); /*URL to font*/
}